/* ================= SECTION ================= */

.section {
  background: #ffffff;
  padding: 90px 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* ================= TITLES ================= */

.title {
  font-size: 28px;
  font-weight: 700;
  color: #004a80;
  margin-bottom: 20px;
  line-height: 1.3;
  position: relative;
}

.title::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #f4c300;
  display: block;
  margin-top: 12px;
}

.subtitle {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
  font-size: 15px;
  color: #808080;
  font-weight: 500;
}

/* ================= GRID ================= */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 80px;
}

/* ================= ITEM =================*
